extends layout

include mixins/_reviewForm
include mixins/_review

block content
    .single
        .single__hero
           
            h2 #{app.author.name} wants #{app.dog}
                
                
    .single__details.inner
        img.single__map(src=h.staticMap(app.author.location.coordinates))
        p.single__location= app.author.location.address
        pre= h.dump(app)
        //- p= store.description

        //- if store.tags
        //-     ul.tags
        //-         each tag in store.tags
        //-             li.tag
        //-                 a.tag__link(href=`/tags/${tag}`)
        //-                     space.tag__text ##{tag}
        
        //- if user.isAdmin
        //-     +reviewForm(store)
        
        //- if store.reviews
        //-     .reviews
        //-         each review in store.reviews
        //-             .review
        //-                 +review(review)