mixin appCard(app = {})
        tr
            td
                a(href=`/applications/${app.id}`) #{app.author.name}
            td
                a(href=`/applications/${app.id}`) #{app.dog}
            td
                a(href=`/applications/${app.id}`) #{app.status}