mixin storeCard(app = {})
        tr
            td
                a(href=`/applications/${app.id}`) #{app.author}
            td
                a(href=`/applications/${app.id}`) dog dog 
            td
                a(href=`/applications/${app.id}`) #{app.status}

